body{ /*body is element is linked to CSS*/
    background-color: black;/*background of site is black*/
}

#ACTIVITIES{ /*the form Id for all the activity buttons is linked to CSS*/
    position:absolute; /*positioning is in the exact value of the page*/
    left:500px; /*buttons positioned 500px from left of the page*/

}
.colorWhite{
    color:white; /*color class that sets text to white*/
}
.Inputs{ /*declaring a class for the inputs that will have similar positioning on some web pages*/
    position:absolute;/*positioning is in the exact value of the page*/
    top:210px;/*buttons positioned 210px from the top of page*/
    left:890px;/*buttons positioned 890x from the left of page*/
}

h1{
    color:white;/*Site title is colour white*/
    height:400px;/*height of title is 400px*/
    width:300px;/*width is 300px wide*/
}
img{ /*image of the atom linked to css*/
    position:absolute;/*positioning is in the exact area of the page*/
    top:100px;/*buttons positioned 100px from the top of page*/
    left:500px;/*buttons positioned 500px from the left of page*/
}
#ParticleTable{
    color: white; /*making data visible by setting it's colour to white*/
}
#Opening{    /* linking the opening tag by using it's element*/
    color:white; /*White is clear contrast from black*/
    position:absolute; /* making the position of the text to exact position I want it*/
    top:100px; /* text is placed 100px from the top of the page*/
}
#Strong{  /*linking the "STRONG NUCLEAR FORCE" QUOTE TO CSS*/

    color:red; /* colour of the red*/
    position:absolute; /* making the position of the text to exact position I want it*/
    top:150px;/* text placed 150px from the top of page */
}
#Weak{ /*linking the "WEAK NUCLEAR FORCE" quote to CSS*/
    color:yellow; /* text colour is yellow*/
    position:absolute; /*making the position of the text to exact position I want it*/
    top:150px;/*positioned 150 px from the top of the page*/
    left:350px;/* to prevent the big texts from overlapping with each other I shifted it 350px from the left of the page*/
}
#ElectroForce{ /*linking the "ELECTROSTATIC FORCE" quote with the CSS*/
    color:aqua;/* colour of text is aqa*/
    position:absolute;/*making the position of the text to exact position I want it*/
    top:150px; /*positioned 150 px from the top of the page*/
    left:700px;/* to prevent the big texts from overlapping with each other I shifted it 700px from the left of the page*/
}
#Gravity{/*linking the "GRAVITATIONAL FORCE" quote with the CSS*/
    color:limegreen; /*colour of text is lime green*/
    position:absolute;/*making the position of the text to exact position I want it*/
    top:150px;/*positioned 150 px from the top of the page*/
    left:1050px/* to prevent the big texts from overlapping with each other I shifted it 1050px from the left of the page*/
}
#Hadrons{
    color:violet;
    position:absolute;
    top:190px;
}
#Leptons{
    color:orange;
    position:absolute;
    top:210px;
}
#Quarks{
    color:lawngreen;
    position:absolute;
    top:270px;
}
#ChargedParticles{
    color:deepskyblue;
    position:absolute;
    top:240px;

}

#VIEWBUTTON{/*linking to VIEW button*/
    border-color: blue;/*border colour is blue*/
    border-width: 20px; /*border width is 20 pixels*/
    background-color:aqua;/*face of button is aqua*/

}
#KNBUTTON{/*linking to knowledge button*/
    border-color: indigo;/*border colour is indigo*/
    border-width: 20px; /*border width is 20 pixels*/
    background-color:violet;/*face of button is violet*/
}
#PPBUTTON{ /*linking to pair production button*/
    border-color:red;  /*border colour is red*/
    border-width: 20px; /*border width is 20 pixels*/
    background-color:orange; /*face of button is orange*/
}
#ANNBUTTON{ /*Annihilation button linked to CSS*/
    border-color:limegreen; /*border colour is lime green,nice look on page,*/
    border-width:20px;/*border width is 20 pixels*/
    background-color:yellow;/*face of button is yellow*/
}
.screen{/*links to the canvas in HTML via it's id*/
    border: solid white 1px; /*Canvas nees to be visible so I made the border white and 1px*/
    position:absolute; /*positioning is at an exact value on page*/
    top:200px;/* canvas placed 200px down from the top of the page*/
}
.ActivityBody{ /*declared a class called to ActivityBody */
    background: black;/*body of the pair production page is black,declared as a class due to all pages having the same feature*/
}


.HOMEBUTTON{ /*declaring a class for the GO HOME button because pages will have this feature*/
    position:absolute;/*positioning is in the exact area of the page*/
    top: 500px;/*buttons positioned 500px from the top of page*/
    right:100px;/*buttons positioned 100px from the right of page*/
}