body{ /*body is element is linked to CSS*/
    background-color: black;/*background of site is black*/
}

#ACTIVITIES{ /*the form Id for all the activity buttons is linked to CSS*/
    position:absolute; /*positioning is in the exact value of the page*/
    left:500px; /*buttons positioned 500px from left of the page*/

}

#Inputs{
    position:absolute;
    top:210px;
    left:890px;
}

h1{
    color:white;/*Site title is colour white*/
    height:400px;/*height of title is 400px*/
    width:300px;/*width is 300px wide*/
}
img{ /*image of the atom linked to css*/
    position:absolute;/*positioning is in the exact value of the page*/
    top:100px;/*buttons positioned 100px from the top of page*/
    left:500px;/*buttons positioned 500px from the left of page*/
}

#PPBUTTON{ /*linking to pair production button*/
    border-color:red;  /*border colour is red*/
    border-width: 20px; /*border width is 20 pixels*/
    background-color:orange; /*face of button is orange*/
}
#ANNBUTTON{ /*Annihilation button linked to CSS*/
    border-color:limegreen; /*border colour is lime green,nice look on page,*/
    border-width:20px;/*border width is 20 pixels*/
    background-color:yellow;/*face of button is yellow*/
}
#screen{/*links to the canvas in HTML via it's id*/
    border: solid white 1px; /*Canvas nees to be visible so I made the border white and 1px*/
    width:800px; /*width of canvas is 800px*/
    height:600px;/*height of canvas is 600px*/
    position:absolute; /*positioning is at an exact value on page*/
    top:200px;/* canvas placed 200px down from the top of the page*/
}
#PPBODY{
    background: black;/*body of the pair production page is black*/
}


#HOMEBUTTON{
    position:absolute;
    top: 500px;
    right:100px;


}